<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>INi EJS</h1>

    <%= "Helo Sayang".toUpperCase() %>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam tenetur quod
      asperiores ipsa. Ducimus rerum nemo corrupti nostrum quos aliquid ea vel
      necessitatibus tempore laboriosam, dolores saepe corporis cupiditate
      nesciunt.
    </p>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum doloribus
      iste laudantium debitis pariatur placeat adipisci, dolorum eius est.
      Perferendis, quam aperiam soluta ut dolore vel libero illum et cum!
    </p>
  </body>
</html>
